@keyframes heart-scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@keyframes sparks-appear {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
